body {
	margin: 0;
	padding: 0;
	overflow: auto;
	background: transparent;
}
a:link, a:visited {
	text-decoration: underline;
	font-weight: bold;
	font-size: 15px;
	color: #c25a26;
}
a:hover {
	text-decoration: underline;
	font-weight: bold;
	font-size: 18px;
    color: #c25a26;
}
#container {
	width: 1020px;
	min-height: 590px;
	margin: auto;
	padding: 0;
	position: relative;
}
#header {
	margin: auto;
	min-height: 200px;
	background: transparent url("images/header.png") center no-repeat;
}
#menu {
	width: 176px;
    min-height: 50px;
    background: orange;
	border-style: solid none solid solid;
	border-color: #D76100;
	border-width: 2px;
	padding: 10px;
    float: left;
}
#menu ul {
    margin:0px;
    padding:0px;
    list-style:none;
}
#menu p {
    margin: 0;
}
#menu li p {
    margin: 0;
    color: #9E3C02;
}
#menu li a, a:visited {
    text-decoration: none;
    font-weight:normal;
    color: #9E3C02;
    display: block;
    background: transparent;
    padding: 0;
}
#menu li a:hover {
    color: #fff;
    text-decoration: underline;
    background: transparent;
    padding: 0;
}
#content {
    width: 792px;
	min-height: 590px;
	margin: auto;
	padding: 10;
	position: relative;
    float: right;
    border-style: none double none double;
    border-color: #D76100;
	border-width: 5px;
}
#content h1 {
    font-weight: bold;
    font-style: italic;
    color: #9E3C02;
}
#content h3 {
    font-weight: normal;
    color: #9E3C02;
    margin-top: 0;
}