{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        {% include "microblog/menu.html" %}
    </div>
    <div id="content">
        {% if articleForm.errors %}
        <p style="color: red;">Proszę poprawić poniższe błędy</p>
        {% endif %}

        <form action="{% url 'n_edytujWpis' %}" method="POST">
            {% csrf_token %}
            {{ articleForm.as_p }}
            <input type="hidden" id="article_pk" name="article_pk" value={{ article.pk }} />
            <input type="submit" value="Zapisz" />
        </form>
    </div>
</div>
