{% if user.is_authenticated %}
    <p>Użytkownik: <b>{{ user }}</b></p>
{% else %}
    <p>Użytkownik: Gość</p>
{% endif %}
<hr />
<ul>
    <li><a href="{% url 'index' %}">Strona Główna</a></li>
    <hr />
    {% if user.is_authenticated %}
    <li><a href="{% url 'n_wyloguj' %}">Wyloguj</a></li>
    <hr />
    <li><a href="{% url 'n_mojewpisy' %}">Moje wpisy</a></li>
    {% else %}
    <li><a href="{% url 'n_rejestracja' %}">Załóż konto</a></li>
    <hr />
    <li><a href="{% url 'n_zaloguj' %}">Zaloguj</a></li>
    {% endif %}
    <hr />
    <li><a href="{% url 'n_dodajWpisForm' %}">Dodaj wpis</a></li>
</ul>
