{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        {% include "microblog/menu.html" %}
    </div>
    <div id="content">
      Brak uprawnień.
    </div>
</div>
