{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        {% include "microblog/menu.html" %}
    </div>
    <div id="content">
        <p style="color: red;font-weight: bold;">{{ register_info }}</p>
        <p>Podaj dane do rejestracji:</p>
        <form action="{% url 'n_zarejestruj' %}" method="post">
            {% csrf_token %}
            <p>
                Login: <input type="text" name="user_name" id="user_name" maxlength="30" />
            </p>
            <p>
                Hasło: <input type="text" name="user_password" id="user_password" maxlength="30" />
            </p>
            <p>
                <input type="submit" value="Zarejestruj" />
            </p>
        </form>
    </div>
</div>