{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
  <div id='header'>
  </div>
  <div id="menu">
    {% include "microblog/menu.html" %}
  </div>
  <div id="content">
    <h3>Wpisy:</h3>
    {% if latest_tweet_list %}
    <ul>
      {% for tweet in latest_tweet_list %}
      <li>
        <hr>
        <span style="font-weight: bold">Autor: </span><span style="font-style: italic">{{ tweet.author }}</span>
        <form action="{% url 'n_edytujWpis' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="article_pk" name="article_pk" value={{ tweet.pk }} />
          <input type="hidden" id="start_edit" name="start_edit"/>
          <input type="submit" value="Edytuj" />
        </form>
</br>
<span style="font-weight: bold">Tytuł: </span><span style="font-style: italic">{{ tweet.title }}</span></br>
<span style="font-weight: bold">Data wpisu: </span>{{ tweet.pub_date }}</br>
{% if tweet.edited %}
<span style="font-weight: bold">Ostatnio edytowane: </span>{{ tweet.edit_date }}<span style="font-weight: bold"> Przez: </span>{{ tweet.edit_author.username }}</br>
{% endif %}
<span style="font-weight: bold">Treść:</span>
        <p style="text-indent: 20px;margin-top: 0px;">{{ tweet.content }}</p>
        {% if tweet.tags.count %}
        <span style="font-weight: bold">Tagi:</span>
        <p style="text-indent: 20px;margin-top: 0px;">{% for tag in tweet.tags.all %}{{ tag }} {% endfor %}</p>
        {% endif %}
        <hr />
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Niestety nie ma jeszcze żadnych wpisów :(</p>
    {% endif %}
  </div>
</div>
